<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu') %>

<div class="container">

  <p>ID: <%= user._id %></p>
  <p>Email: <%= user.email %></p>
  <p>Username: <%= user.username %></p>

</div>

<%- include('../port/layout-end') %>